channels==2.1.7
channels-redis==2.3.3
decorator==4.3.2
Django==2.1.5
django-betterforms==1.2
django-crispy-forms==1.7.2
django-phonenumber-field==2.2.0
Pillow==5.4.1
pytz==2018.7
redis==2.10.6
django-fancybox==0.1.5