{% extends "need_a_help_app/base.html" %}
{% load crispy_forms_tags %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_repairman %}
    {% if mess_rep %}
        <span class="badge badge-notify-mess">{{ mess_rep }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block count %}
    {% if cnt %}
        <span class="badge badge-notify">{{ cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}
{% endblock %}

{% block app_repairman %}
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
<h3 align = "center">
    {% if user != object.first %}
        <a href="{% url 'info' object.first.id %}"><img class="rounded-circle navbar-img" src="{{ object.first.profile.photo.url }}"></a>{{ object.first }}
    {% else %}
        <a href="{% url 'info' object.second.id %}"><img class="rounded-circle navbar-img" src="{{ object.second.profile.photo.url }}"></a>{{ object.second }}
    {% endif %}
</h3>
<div class = "row">
	<div id='chat-items'>
	{% for chat in object.chatmessage_set.all %}

        {% if user != chat.user %}
    		<button type="button" class="btn btn-dark" id = "text" style = "{% if user != chat.user %}
    		  float:right; display:block;{% else %}{% endif %}">{{ chat.message }} </button><br>
        {% else %}
            <button type="button" class="btn btn-info" id = "text" style = "{% if user != chat.user %}
          float:right; display:block;{% else %}{% endif %}">{{ chat.message }} </button><br>
        {% endif %}
		{% if user != chat.user %} <br> {% else %}{% endif %}
		<p {% if user != chat.user %} align = "right" {% else %}{% endif %} style = "font-size: 10px;"> {% if user != chat.user %}{{ chat.user }}{% else %}{% endif %}<br> {{chat.timestamp}}</p>


		{% endfor %}
	</div>
</div>
<div class = "row">
	<form id='form' method='POST'  "> {% csrf_token %}
		<input type = "hidden" id = "myUsername" value = '{{user.username}}'/>
	{{form.as_p }}
	<input type='submit' class='btn btn-primary'/>
	</form>
</div>

{% endblock %}


{% block register_login %}
    <div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                {% if user != object.first %}
                    <img class="rounded-circle" src="{{ object.second.profile.photo.url }}">
                    <p>{{ object.second.first_name }} {{ object.second.last_name }}</p>
                {% else %}
                    <img class="rounded-circle" src="{{ object.first.profile.photo.url }}">
                    <p>{{ object.first.first_name }} {{ object.first.last_name }}</p>
                {% endif %}
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross" />
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81" />
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross" />
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                        <div class="meta">
                            <p class="name">Louis Litt</p>
                            <p class="preview">You just got LITT up, Mike.</p>
                        </div>
                    </div>
                </li>
                <li class="contact active">
                    <div class="wrap">
                        <span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <div class="meta">
                            <p class="name">Harvey Specter</p>
                            <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status away"></span>
                        <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
                        <div class="meta">
                            <p class="name">Rachel Zane</p>
                            <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                        <div class="meta">
                            <p class="name">Donna Paulsen</p>
                            <p class="preview">Mike, I know everything! I'm Donna..</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
                        <div class="meta">
                            <p class="name">Jessica Pearson</p>
                            <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
                        <div class="meta">
                            <p class="name">Harold Gunderson</p>
                            <p class="preview">Thanks Mike! :)</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
                        <div class="meta">
                            <p class="name">Daniel Hardman</p>
                            <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status busy"></span>
                        <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
                        <div class="meta">
                            <p class="name">Katrina Bennett</p>
                            <p class="preview">I've sent you the files for the Garrett trial.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
                        <div class="meta">
                            <p class="name">Charles Forstman</p>
                            <p class="preview">Mike, this isn't over.</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status"></span>
                        <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
                        <div class="meta">
                            <p class="name">Jonathan Sidwell</p>
                            <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            {% if user != object.first %}
                <img class="rounded-circle" src="{{ object.first.profile.photo.url }}">
                <p>{{ object.first.first_name }} {{ object.first.last_name }}</p>
            {% else %}
                <img class="rounded-circle" src="{{ object.second.profile.photo.url }}">
                <p>{{ object.second.first_name }} {{ object.second.last_name }}</p>
            {% endif %}
        </div>
        <div class="messages">
            <ul>
                {% for chat in object.chatmessage_set.all %}
                    {% if user != chat.user %}
                        <li class="replies">
                            <img class="rounded-circle" src="{{ object.second.profile.photo.url }}">
                            <p>{{ chat.message }} </p>
                            <p {% if user != chat.user %} align = "right" {% else %}{% endif %} style = "font-size: 10px;"> {% if user != chat.user %}{{ chat.user }}{% else %}{% endif %}<br> {{chat.timestamp}}</p>
                        </li>
                    {% else %}
                        <li class="sent">
                            <img class="rounded-circle" src="{{ object.first.profile.photo.url }}">
                            <p>{{ chat.message }}</p>
                            <small {% if user != chat.user %} align = "right" {% else %}{% endif %} style = "font-size: 10px;"> {% if user != chat.user %}{{ chat.user }}{% else %}{% endif %}<br> {{chat.timestamp}}</small>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <form id='form' method='POST'>
                    {% csrf_token %}
                    <input type = "hidden" id = "myUsername" value = '{{user.username}}'/>
                    {{form|crispy }}
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<script>
// websocket scripts
console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")    //dohvat elementa stvarne poruke unutar forme
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

var wsStart = 'ws://'
if (loc.protocol == 'https:') {
	wsStart = 'wss://'
}

var endpoint = wsStart + window.location.host + window.location.pathname + '/'

var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
	console.log("message", e)
	var chatDataMsg = JSON.parse(e.data)
	if (chatDataMsg.username == "{{user}}") {
			chatHolder.append("<button type='button' class='btn btn-info' >" + chatDataMsg.message + "</button><br> <p style = 'font-size: 10px;'> "+ chatDataMsg.username + "</p>" )
	} else {
		chatHolder.append("<button type='button' class='btn btn-info' style = 'float:right; display:block;' >" + chatDataMsg.message + "</button><br> <p align = 'right' style = 'font-size: 10px;'> <br>"+ chatDataMsg.username + "</p>" )
	}
}



socket.onopen = function(e){
	console.log("message", e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()

		var finalData = {
			'message' : msgText
		}
		socket.send(JSON.stringify(finalData))

		msgInput.val('')			//prikupljanje poruke i resetiranje forme
		formData[0].reset()
	})
}
socket.onerror = function(e){
	console.log("message", e)
}
socket.onclose = function(e){
	console.log("message", e)
}

    var el = document.getElementById('message');

    el.autocomplete = 'off';
    el.placeholder = 'Write your message here ...';


</script>

{% endblock %}
