{% extends "need_a_help_app/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5 text-center'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5 text-center'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_not %}
    {% include 'need_a_help_app/mess_not.html' %}
{% endblock %}

{% block count %}
    {% if cnt %}
        <span class="badge badge-notify">{{ cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}
{% endblock %}

{% block app_repairman %}
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
{% endblock %}


{% block register_login %}
    <div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                {% if user != object.first %}
                    <img class="rounded-circle online" src="{{ object.second.profile.photo.url }}">
                    <p>{{ object.second.first_name }} {{ object.second.last_name }}</p>
                {% else %}
                    <img class="rounded-circle online" src="{{ object.first.profile.photo.url }}">
                    <p>{{ object.first.first_name }} {{ object.first.last_name }}</p>
                {% endif %}
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross" />
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81" />
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross" />
                </div>
            </div>
        </div>
        <div id="search">
            <input type="text" id="q" class="form-control pl-2 w-100" style="border-radius: 18px" placeholder="Search contacts...">
        </div>
        <div id="contacts">
            {% if inbox %}
                <ul>
                    {% for u in inbox %}
                        {% if u.first == user %}
                            <li class="contact" id="{{ u.second.id }}" onclick="location.href=&quot;{% url 'messages' u.second %}&quot;;">
                            <input type="hidden" id="getId" value="{{ u.second.id }}">
                        {% else %}
                            <li class="contact" id="{{ u.first.id }}" onclick="location.href=&quot;{% url 'messages' u.first %}&quot;;">
                            <input type="hidden" id="getId" value="{{ u.first.id }}">
                        {% endif %}
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                {% if u.first == user %}
                                <a href="{% url 'info' u.second.id %}"><img class="rounded-circle navbar-img" src="{{ u.second.profile.photo.url }}"></a>
                                {% else %}
                                <a href="{% url 'info' u.first.id %}"><img class="rounded-circle navbar-img" src="{{ u.first.profile.photo.url }}"></a>
                                {% endif %}
                                <div class="meta">
                                    {% if u.first == user %}
                                    <p class="name">{{ u.second.first_name }} {{ u.second.last_name }}</p>
                                    {% else %}
                                    <p class="name">{{ u.firstfirst_name }} {{ u.first.last_name }}</p>
                                    {% endif %}
                                    <p class="preview ml-5">{{u.latestMessage}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li class="contact">
                        <div class="wrap">
                            <div class="meta text-center">
                                <p class="name">No results</p>
                                <p class="preview">Looks like you have not yet contacted anyone</p>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div id="bottom-bar">

        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            {% if user != object.first %}
                <img class="rounded-circle" src="{{ object.first.profile.photo.url }}">
                <p>{{ object.first.first_name }} {{ object.first.last_name }}</p>
            {% else %}
                <img class="rounded-circle" src="{{ object.second.profile.photo.url }}">
                <p>{{ object.second.first_name }} {{ object.second.last_name }}</p>
            {% endif %}
        </div>
        <div class="messages">
            <ul class="pr-3 pl-0">
                {% for chat in object.chatmessage_set.all %}
                    {% if user != chat.user %}
                        <li class="sent">
                            <img class="rounded-circle" src="{{ object.first.profile.photo.url }}">
                            <p id ="text" >{{ chat.message }}</p>
                        </li>
                    {% else %}
                        <li class="replies">
                            <img class="rounded-circle" src="{{ object.second.profile.photo.url }}">
                            <p id ="text" >{{ chat.message }} </p>
                        </li>
                    {% endif %}
                    <p {% if user != chat.user %} align = "left" {% else %} align = "right"{% endif %} style = "font-size: 10px; margin-bottom: 20px"> {% if user != chat.user %}{{ chat.user }}{% else %}{% endif %}<br> {{chat.timestamp}}</p>
                {% endfor %}
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <form id='form' method='POST'>
                    {% csrf_token %}
                    <input type = "hidden" id = "myUsername" value = '{{user.username}}'/>
                    {{form|crispy }}

                    <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<script>
// websocket scripts
console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")    //dohvat elementa stvarne poruke unutar forme
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

var wsStart = 'ws://'
if (loc.protocol == 'https:') {
	wsStart = 'wss://'
}

var endpoint = wsStart + window.location.host + window.location.pathname + '/'

var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
	console.log("message", e)
	var chatDataMsg = JSON.parse(e.data)
	if (chatDataMsg.username == "{{user}}") {
			chatHolder.append("<button type='button' class='btn btn-info' >" + chatDataMsg.message + "</button><br> <p style = 'font-size: 10px;'> "+ chatDataMsg.username + "</p>" )
	} else {
		chatHolder.append("<button type='button' class='btn btn-info' style = 'float:right; display:block;' >" + chatDataMsg.message + "</button><br> <p align = 'right' style = 'font-size: 10px;'> <br>"+ chatDataMsg.username + "</p>" )
	}
}



socket.onopen = function(e){
	console.log("message", e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()

		var finalData = {
			'message' : msgText
		}
		socket.send(JSON.stringify(finalData))

		msgInput.val('')			//prikupljanje poruke i resetiranje forme
		formData[0].reset()
	})
}
socket.onerror = function(e){
	console.log("message", e)
}
socket.onclose = function(e){
	console.log("message", e)
}

var el = document.getElementById('message');

el.autocomplete = 'off';
el.placeholder = 'Write your message here ...';
el.style.borderRadius = '18px';
el.style.boxShadow = '0 0 0 0.2rem rgba(0, 0, 0, 0.5)';

el = document.getElementById('div_message');
el.classList.add('pl-5');

var q = document.getElementById('q');
q.autocomplete = 'off';

q.addEventListener('keyup', () => {
    var el = document.getElementsByClassName('name');
    var q = document.getElementById('q').value;
    var block = document.getElementsByClassName('contact');
    var str;

    for (var i = 0; i < el.length; i++) {
        str = el[i].innerHTML;
        var br = block[i].childNodes[1].value;
        var el_to_hid = document.getElementById(`${br}`);
        if (str.includes(q)) {
            el_to_hid.style.display = 'block';
            el_to_hid.style.listStyle = 'inherit';
        } else {
            el_to_hid.style.display = 'none';
        }
    }
});

</script>

{% endblock %}
