{% extends 'need_a_help_app/base.html' %}

{% block app_client %}
{% endblock %}

{% block app_repairman %}
{% endblock %}

{% block content %}{% endblock %}

{% block filters %}
{% endblock %}

{% block about %}
    <header class="text-left text-white">
      <div class="masthead-content">
        <div class="jumbotron">
          <h1 class="masthead-heading mb-0">About page</h1>
        </div>
      </div>
    </header>

    <section>
      <!-- Prkaz na srednjim i većim ekranima -->
        <div class="container  d-none d-sm-none d-md-block d-lg-block">
            <div class="row align-items-center">
              <div class="col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-12 order-lg-1">
                <div class="p-5">
                  <h2 class="display-4">This site is made for repairmans!</h2>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                  <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                  Just wait for someone to post their request and apply.</p>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section>
      <!-- Prkaz na malim ekranima -->
        <div class="container  d-block d-sm-block d-md-none d-lg-none">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 order-md-1 col-lg-12 order-lg-1">
                    <div class="p-3">
                      <h3>This site is made for repairmans!</h3>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                      <p>Way of founding job never has been easier. You don't need to be a real stuff to apply for a job.
                      Just wait for someone to post their request and apply.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-5 bg-black text-center">
       <p>@All rights reserved</p>
    </footer>
{% endblock %}
