{% extends 'need_a_help_app/base.html' %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_repairman %}
    {% if mess_rep %}
        <span class="badge badge-notify-mess">{{ mess_rep }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block count %}
    {% if cnt %}
        <span class="badge badge-notify">{{ cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block active %}
    {% if act_cnt %}
            <span class="badge badge-active">{{ act_cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content_client %}
    <h2>Most wanted</h2>
    <hr width="100%">
    {% for p in prof %}
        <article class="media content-section">
            <div class="media-body">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="{% url 'info' p.user.id %}">
                            <img class="rounded-circle account-img" src="{{ p.photo.url }}">
                        </a>
                        <div class="row">
                            <div class="col-sm-12" align="center">
                              <div class="{{ p.user.username }}">
                                <div class="star-outer">
                                  <div class="star-inner"></div>
                                </div>
                                <span class="number-rating text-secondary"></span>
                              </div>
                            </div>
                        </div>
                        <input type="hidden" class="hid" name="name" id="name{{ p.user.username }}" value="{{ p.user.username }}">
                        <input type="hidden" class="hid" name="rate" id="rate{{ p.user.profile.rating }}" value="{{ p.user.profile.rating }}">
                    </div>
                    <div class="col-sm-5 pl-5">
                        <h1>{{ p.user.first_name }} {{ p.user.last_name }}</h1>
                        <small class="text-secondary text-muted">Profession: {{ p.profession }}</small><br>
                        <small class="text-secondary text-muted">Cost: {{ p.costs }} €</small><br>
                        <div class="row">
                            <div class="col-sm-7">
                                <small class="text-secondary text-muted">Address: {{ p.address }}</small><br>
                            </div>
                            <div class="col-sm-5">
                                <small class="text-secondary text-muted distance"><i class="fas fa-map-marker-alt" style="color: red"></i> {{ dist.0.rows.0.elements.0.distance.text }}</small><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-5" align="right">
                        {% if p.user in f_hired %}
                            <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                        {% else %}
                            <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                        {% endif %}
                        <a href="{% url 'info' p.user.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i>&nbsp Detail</a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
   </div>
{% include 'need_a_help_app/stars_js.html' %}
{% endblock %}

{% block content_repairman %}
    <h2>All jobs</h2>
    <hr width="100%">
    {% if vis %}
        {% for us in users %}
            {% for u in us.requests_set.all|dictsortreversed:'date' %}
                {% if u.visible %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="{% url 'request_detail' u.id %}">
                                        <img class="rounded-circle account-img" src="{{ u.photo.url }}">
                                    </a>
                                </div>
                                <div class="col-sm-7 pl-5">
                                    <a class="mr-2" href="{% url 'info' u.user.id %}">{{ u.user }}</a>
                                    <small class="text-muted">{{ u.date|date:'F d, Y H:i' }}</small>&nbsp
                                    {% for r in seen_r %}
                                        {% if r.request.id == u.id and r.seen == False %}
                                            <span class="badge badge-info">New</span>
                                        {% endif %}
                                    {% endfor %}
                                    <hr width="100%">
                                    <h1>{{ u.job_title }}</h1>
                                    <small class="text-secondary text-muted">Required knowladges: {{ u.required_knowledges }}</small><br>
                                    <small class="text-secondary text-muted">Price: {{ u.price }} €</small><br>
                                    <small class="text-secondary text-muted">Address: {{ u.address }}</small><br>
                                </div>
                                <div class="col-sm-2 pt-5" align="right">
                                    <a href="{% url 'repairman_apply' user.id u.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="far fa-check-square"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm mt-1 mb-1"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <h3 class="text-secondary text-muted" align="center">No results</h3>
    {% endif %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

