{% extends 'need_a_help_app/base.html' %}
{% load maps_tags %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
    {% include 'need_a_help_app/mess_client.html' %}
{% endblock %}

{% block content %}
   <h2>My favorites</h2>
   <hr width="100%">
   {% if favs %}
       {% for us in favs %}
            {% if us.user == user.id %}
                {% for rep in users %}
                    {% if rep.id == us.repairman %}
                        <article class="media content-section d-none d-md-block d-lg-block">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="{% url 'info' rep.id %}">
                                            <img class="rounded-circle account-img" src="{{ rep.profile.photo.url }}">
                                        </a>
                                        <div class="row">
                                            <div class="col-sm-12" align="center">
                                              <div class="{{ rep.username }}">
                                                <div class="star-outer">
                                                  <div class="star-inner"></div>
                                                </div>
                                                <span class="number-rating text-secondary"></span>
                                              </div>
                                            </div>
                                        </div>
                                        <input type="hidden" class="hid" name="name" id="name{{ rep.username }}" value="{{ rep.username }}">
                                        <input type="hidden" class="hid" name="rate" id="rate{{ rep.profile.rating }}" value="{{ rep.profile.rating }}">
                                    </div>
                                    <div class="col-sm-5 pl-5">
                                        <h1>{{ rep.first_name }} {{ rep.last_name }}</h1>
                                        <small class="text-secondary text-muted">Profession: {{ rep.profile.profession }}</small><br>
                                        <small class="text-secondary text-muted">Cost: 155</small><br>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <small class="text-secondary text-muted">Address: {{ rep.profile.address }}</small><br>
                                            </div>
                                            <div class="col-sm-5">
                                                {% resolve dist rep.id as value %}
                                                <small class="text-secondary text-muted distance"><i class="fas fa-map-marker-alt" style="color: red"></i>&nbsp;{{ value }}</small><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pt-5" align="right">
                                        {% if rep in f_hired %}
                                            <a href="{% url 'hire_repairman' user.id rep.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                                        {% else %}
                                            <a href="{% url 'hire_repairman' user.id rep.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                                        {% endif %}
                                        <a href="{% url 'info' rep.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i>&nbsp Detail</a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <!-- mali ekran -->
                        <article class="media content-section d-block d-md-none d-lg-none">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <a href="{% url 'info' rep.id %}">
                                            <img class="rounded-circle account-img" src="{{ rep.profile.photo.url }}">
                                        </a>
                                        <div class="row">
                                            <div class="col-sm-12" align="center">
                                              <div class="{{ rep.username }}">
                                                <div class="star-outer">
                                                  <div class="star-inner"></div>
                                                </div>
                                                <span class="number-rating text-secondary"></span>
                                              </div>
                                            </div>
                                        </div>
                                        <input type="hidden" class="hid" name="name" id="name{{ rep.username }}" value="{{ rep.username }}">
                                        <input type="hidden" class="hid" name="rate" id="rate{{ rep.profile.rating }}" value="{{ rep.profile.rating }}">
                                    </div>
                                    <div class="col-sm-5 text-center">
                                        <h1>{{ rep.first_name }} {{ rep.last_name }}</h1>
                                        <small class="text-secondary text-muted">Profession: {{ rep.profile.profession }}</small><br>
                                        <small class="text-secondary text-muted">Cost: 155</small><br>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <small class="text-secondary text-muted">Address: {{ rep.profile.address }}</small><br>
                                            </div>
                                            <div class="col-sm-5">
                                                {% resolve dist rep.id as value %}
                                                <small class="text-secondary text-muted distance"><i class="fas fa-map-marker-alt" style="color: red"></i>{{ value }}</small><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pt-2 text-center">
                                        {% if rep in f_hired %}
                                            <a href="{% url 'hire_repairman' user.id rep.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                                        {% else %}
                                            <a href="{% url 'hire_repairman' user.id rep.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                                        {% endif %}
                                        <a href="{% url 'info' rep.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i>&nbsp Detail</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            {% endif %}
       {% endfor %}
   {% else %}
    <h3 class="text-secondary text-muted pb-3" align="center">No results</h3>
   {% endif %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
   </div>
{% include 'need_a_help_app/stars_js.html' %}
{% endblock %}

