{% extends 'need_a_help_app/base.html' %}

{% block content %}
   <div class="row">
    <div class="col-sm-8">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active hire" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true">Hired list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hire" id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab" aria-controls="pills-jobs" aria-selected="false">Jobs hired list</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4" align="right">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#filter"><i class="fas fa-filter"></i>&nbsp Filter</button>
    </div>
   </div>
   <hr width="100%">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
        {% if hir %}
           {% for i in hir %}
                <div class="row">
                    <div class="col-sm-3">
                        {% for j in us %}
                            {% if j.id == i.repairman %}
                                <a href="{% url 'info' j.id %}">
                                    <img class="rounded-circle account-img" src="{{ j.profile.photo.url }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-10" align="center">
                                <i class="fas fa-star" style="color: #ffd633" aria-hidden="true"></i>
                                <i class="fas fa-star" style="color: #ffd633" aria-hidden="true"></i>
                                <i class="fas fa-star" style="color: #ffd633" aria-hidden="true"></i>
                                <i class="fas fa-star" style="color: #ffd633" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 pl-5">
                        {% for j in us %}
                            {% if j.id == i.repairman %}
                                <h1>{{ j.first_name }} {{ j.last_name }}</h1>
                            {% endif %}
                        {% endfor %}
                        {% if i.status == 'pending' %}
                            <small class="text-secondary text-muted">Status: <span style="color: red">{{ i.status }}</span></small><br>
                        {% else %}
                            <small class="text-secondary text-muted">Status: <span style="color: green">{{ i.status }}</span></small><br>
                        {% endif %}
                        {% if not i.accepted %}
                            <small class="text-secondary text-muted">Accepted: <span style="color: red">{{ i.accepted }}</span></small><br>
                        {% else %}
                            <small class="text-secondary text-muted">Accepted: <span style="color: green">{{ i.accepted }}</span></small><br>
                        {% endif %}
                        <small class="text-secondary text-muted">Date requested: {{ i.date }}</small><br>
                        <small class="text-secondary text-muted">Price: 100000 €</small><br>
                    </div>
                    <div class="col-sm-2 pt-5" align="right">
                        {% if i.status == 'pending' %}
                            <a href="#" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="far fa-check-square"></i></a>
                            <a href="{% url 'client_repairman_job_delete' user.id i.repairman user.id 'l' %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        {% else %}
                            <button type="button" class="btn btn-outline-success btn-sm mt-1 mb-1" data-toggle="modal" data-target="#done_job"><i class="far fa-check-square"></i></button>
                            <a href="#" class="btn btn-danger btn-sm mt-1 mb-1 disabled"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <hr width="100%">
           {% endfor %}
       {% else %}
        <h3 class="text-secondary text-muted" align="center">No results</h3>
       {% endif %}

        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <a class="btn btn-info mb-4" href="?page={{ i }}">{{ i }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
      </div>
      <div class="tab-pane fade" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
          {% if job %}
           {% for i in job %}
                <div class="row">
                  <div class="col-sm-3">
                      <a href="{% url 'request_detail' i.request.id %}">
                          <img class="rounded-circle account-img" src="{{ i.request.photo.url }}">
                      </a>
                  </div>
                  <div class="col-sm-7 pl-5">
                      <small class="text-muted">Repairman hired: </small><a class="mr-2" href="{% url 'info' i.repairman.id %}">{{ i.repairman }}</a>
                      <small class="text-muted">Date hired: {{ i.date_hired|date:'F d, Y H:i' }}</small>
                      <hr width="100%">
                      <h1>{{ i.request.job_title }}</h1>
                      {% if i.status == 'pending' %}
                          <small class="text-secondary text-muted">Status: <span style="color: red">{{ i.status }}</span></small><br>
                      {% else %}
                          <small class="text-secondary text-muted">Status: <span style="color: green">{{ i.status }}</span></small><br>
                      {% endif %}
                      <small class="text-secondary text-muted">Price: {{ i.request.price }} €</small><br>
                      <small class="text-secondary text-muted">Address: {{ i.request.address }}</small><br>
                  </div>
                  <div class="col-sm-2 pt-5" align="right">
                      {% if i.status == 'pending' %}
                        <a href="#" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="far fa-check-square"></i></a>
                        <a href="{% url 'job_hire_delete' user.id %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="fa fa-ban" aria-hidden="true"></i></a>
                      {% else %}
                        <button type="button" class="btn btn-outline-success btn-sm mt-1 mb-1" data-toggle="modal" data-target="#done_job"><i class="far fa-check-square"></i></button>
                        <a href="#" class="btn btn-danger btn-sm mt-1 mb-1 disabled"><i class="fa fa-ban" aria-hidden="true"></i></a>
                      {% endif %}
                  </div>
                </div>
                <hr width="100%">
           {% endfor %}
       {% else %}
        <h3 class="text-secondary text-muted" align="center">No results</h3>
       {% endif %}

        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <a class="btn btn-info mb-4" href="?page={{ i }}">{{ i }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Filter By</strong></h5>
            <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Price: min - max</h4>
            <div class="rating">
                <h4>:Popularity </h4><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <h4>Knowledges: None</h4>
            <h4>Address: -</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark">Done</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal done -->
    <div class="modal fade" id="done_job" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Rate</strong></h5>
            <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="rating">
                <h4>:My rate </h4><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <h4>Leave feedback: </h4> <a href="#" class="btn btn-outline-info"><i class="far fa-comment-alt"></i>&nbsp&nbspFeedback</a>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-success">Done</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

