{% extends 'need_a_help_app/base.html' %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
    {% include 'need_a_help_app/mess_client.html' %}
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
   <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link hire" id="pills-list-tab" href="{% url 'hired_user' user.id %}" role="tab" aria-controls="pills-list" aria-selected="true">Hired list</a>
          <span class="badge badge-notify-hired-job">{% if done_job %} {{ done_job }} {% endif %}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link active hire" id="pills-jobs-tab" href="{% url 'hired_req_user' user.id %}" role="tab" aria-controls="pills-jobs" aria-selected="false">Jobs hired list &nbsp<span class="badge badge-notify-hired-req">{% if done_req %} {{ done_req }} {% endif %}</span></a>
        </li>
      </ul>
    </div>
   </div>
   <hr width="100%">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
          {% if job %}
           {% for i in job %}
              <article class="media content-section">
                <div class="media-body">
                  <div class="row">
                    <div class="col-sm-3">
                        <a href="{% url 'request_detail' i.request.id %}">
                            <img class="rounded-circle account-img" src="{{ i.request.photo.url }}">
                        </a>
                    </div>
                    <div class="col-sm-7 pl-5">
                        <small class="text-muted">Repairman hired: </small><a class="mr-2" href="{% url 'info' i.repairman.id %}">{{ i.repairman }}</a>
                        <small class="text-muted">Date hired: {{ i.date_hired|date:'F d, Y H:i' }}</small>
                        <hr width="100%">
                        <h1>{{ i.request.job_title }}</h1>
                        {% if i.status == 'pending' %}
                            <small class="text-secondary text-muted">Status: <span style="color: red">{{ i.status }}</span></small><br>
                        {% else %}
                            <small class="text-secondary text-muted">Status: <span style="color: green">{{ i.status }}</span></small><br>
                        {% endif %}
                        <small class="text-secondary text-muted">Price: {{ i.request.price }} €</small><br>
                        <small class="text-secondary text-muted text-truncate">Address: {{ i.request.address }}</small><br>
                    </div>
                    <div class="col-sm-2 pt-5" align="right">
                        {% if i.status == 'pending' %}
                          <a href="#" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="far fa-check-square"></i></a>
                          <a href="{% url 'job_hire_delete' user.id %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        {% else %}
                          <button type="button" class="btn btn-outline-success btn-sm mt-1 mb-1" data-toggle="modal" data-target="#done_req{{ i.repairman.id }}"><i class="far fa-check-square"></i></button>
                          <!-- Modal done -->
                            <div class="modal fade" id="done_req{{ i.repairman.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><strong>Rate</strong></h5>
                                    <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body text-center">
                                    <form id="rate_form" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      <input type="hidden" name="id" id="userr" value="{{ i.repairman.id }}">
                                      <input type="hidden" name="req" id="req" value="1">
                                      <div class="rating">

                                          <h4>:My rating </h4>
                                          <span class="rate" type="radio" id="rr5"><input type="hidden" id="rr55" value="5"><i class="fas fa-star"></i></span>
                                          <span class="rate" type="radio" id="rr4"><input type="hidden" id="rr44" value="4"><i class="fas fa-star"></i></span>
                                          <span class="rate" type="radio" id="rr3"><input type="hidden" id="rr33" value="3"><i class="fas fa-star"></i></span>
                                          <span class="rate" type="radio" id="rr2"><input type="hidden" id="rr22" value="2"><i class="fas fa-star"></i></span>
                                          <span class="rate" type="radio" id="rr1"><input type="hidden" id="rr11" value="1"><i class="fas fa-star"></i></span>
                                      </div>
                                        <h4>Leave feedback: </h4>
                                        <textarea name="feedback" id="feedd" cols="50" rows="8"></textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" id="btn-submit" class="btn btn-success">Done</button>
                                      </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          <a href="#" class="btn btn-danger btn-sm mt-1 mb-1 disabled"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </article>
           {% endfor %}
       {% else %}
        <h3 class="text-secondary text-muted pb-3" align="center">No results</h3>
       {% endif %}

        <div class="container" align="center">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                  {% if is_paginated %}

                      {% if page_obj.has_previous %}
                          <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                          <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                      {% endif %}

                      {% for i in page_obj.paginator.page_range %}
                          {% if page_obj.number == i %}
                              <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                              <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                          {% endif %}

                      {% endfor %}

                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                          <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                      {% endif %}

                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- dodajem block za js zvjezdi, ratinga u modalima -->
    {% include 'need_a_help_app/stars_js.html' %}
    {% include 'need_a_help_app/rate_request_js.html' %}
    {% include 'need_a_help_app/rate_job_js.html' %}
{% endblock %}

