{% if mess_cli %}
     <i class="nav-item nav-link fas fa-envelope mt-1 popOver" data-title="Messages" data-content="
        <div class='container'>
            {% for n in mess_cli|slice:'5' %}
                <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                    <b> {{n.message.user.first_name}} {{n.message.user.last_name}} </b> - {{ n.message.message }}
                    <div class='col-sm-3 col-md-3 col-lg-3'>
                        <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                    </div>
                </div>
                <hr width=100%>
            {% endfor %}
            <div class='row'>
                <div class='col-sm-12 col-md-12 col-lg-12 pl-5 text-center'>
                    <a href='{% url 'inbox' user.id %}'>Show all messages</a>
                </div>
            </div>
        </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>

    {% if mess_cli_c %}
        <span class="badge badge-notify-mess">{{mess_cli_c}}</span>
    {% endif %}
{% else %}
    <i class="nav-item nav-link fas fa-envelope mt-1 popOver" data-title="Notifications" data-content="
        <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
{% endif %}
