{% extends 'need_a_help_app/base.html' %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{% url 'main' %}?not_c={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}
{% endblock %}

{% block content %}
   <h2 class="pt-4">My notifications</h2>
   <hr width="100%">
   {% if notif %}
        <div class='container'>
           {% for n in notif %}
                {% if not n.seen %}
                    <div class="row not_seen" onclick="location.href=&quot;{% url 'main' %}?not_c={{ n.id }}&quot;;">
                        {% autoescape off %}{{ n.notification }}{% endautoescape %}
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <small class="text-secondary text-muted">{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                {% else %}
                    <div class='row not_row' style='cursor: pointer;' onclick="location.href=&quot;{% url 'main' %}?not_c={{ n.id }}&quot;;">
                        {% autoescape off %}{{ n.notification }}{% endautoescape %}
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <small class="text-secondary text-muted">{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                {% endif %}
                <hr width=100%>
           {% endfor %}
        </div>
    {% else %}
    <h3 class="text-secondary text-muted" align="center">No results</h3>
   {% endif %}

    <br>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a class="btn btn-info mb-4" href="?page={{ i }}">{{ i }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}

