 <script type="text/javascript">
  var val;
  document.getElementById('rr1').addEventListener('click', (e) => {
    e.preventDefault();

    val = document.getElementById('rr11').value;

    document.getElementById('rr1').classList.add('blocked');
    document.getElementById('rr2').classList.remove('blocked');
    document.getElementById('rr3').classList.remove('blocked');
    document.getElementById('rr4').classList.remove('blocked');
    document.getElementById('rr5').classList.remove('blocked');

    document.getElementById('rr2').classList.remove('rating');
    document.getElementById('rr3').classList.remove('rating');
    document.getElementById('rr4').classList.remove('rating');
    document.getElementById('rr5').classList.remove('rating');
    document.getElementById('rr2').classList.remove('rate');
    document.getElementById('rr3').classList.remove('rate');
    document.getElementById('rr4').classList.remove('rate');
    document.getElementById('rr5').classList.remove('rate');
    console.log(val);
  });
  document.getElementById('rr2').addEventListener('click', (e) => {
    e.preventDefault();

    val = document.getElementById('rr22').value;

    document.getElementById('rr1').classList.add('blocked');
    document.getElementById('rr2').classList.add('blocked');
    document.getElementById('rr3').classList.remove('blocked');
    document.getElementById('rr4').classList.remove('blocked');
    document.getElementById('rr5').classList.remove('blocked');

    document.getElementById('rr3').classList.remove('rating');
    document.getElementById('rr4').classList.remove('rating');
    document.getElementById('rr5').classList.remove('rating');
    document.getElementById('rr3').classList.remove('rate');
    document.getElementById('rr4').classList.remove('rate');
    document.getElementById('rr5').classList.remove('rate');
  });
  document.getElementById('rr3').addEventListener('click', (e) => {
    e.preventDefault();

    val = document.getElementById('rr33').value;

    document.getElementById('rr1').classList.add('blocked');
    document.getElementById('rr2').classList.add('blocked');
    document.getElementById('rr3').classList.add('blocked');
    document.getElementById('rr4').classList.remove('blocked');
    document.getElementById('rr5').classList.remove('blocked');

    document.getElementById('rr4').classList.remove('rating');
    document.getElementById('rr5').classList.remove('rating');
    document.getElementById('rr4').classList.remove('rate');
    document.getElementById('rr5').classList.remove('rate');
  });
  document.getElementById('rr4').addEventListener('click', (e) => {
    e.preventDefault();

    val = document.getElementById('rr44').value;

    document.getElementById('rr1').classList.add('blocked');
    document.getElementById('rr2').classList.add('blocked');
    document.getElementById('rr3').classList.add('blocked');
    document.getElementById('rr4').classList.add('blocked');
    document.getElementById('rr5').classList.remove('blocked');

    document.getElementById('rr5').classList.remove('rating');
    document.getElementById('rr5').classList.remove('rate');
  });
  document.getElementById('rr5').addEventListener('click', (e) => {
    e.preventDefault();

    val = document.getElementById('rr55').value;

    document.getElementById('rr1').classList.add('blocked');
    document.getElementById('rr2').classList.add('blocked');
    document.getElementById('rr3').classList.add('blocked');
    document.getElementById('rr4').classList.add('blocked');
    document.getElementById('rr5').classList.add('blocked');
  });
  document.getElementById('btn-submit').addEventListener('click', (e) => {
    e.preventDefault();

    txt = document.getElementById('feedd').value;
    /*feed = '<img class="rounded-circle navbar-img" src="{{ user.profile.photo.url }}"> <a href="#">' + '{{ user.username }}';
    feed += '</a> ' + txt;*/
    feed = txt
    rep_id = document.getElementById('userr').value;
    var job, req;
    if( document.getElementById('req') == null ) req = 0;
    else {
      req = document.getElementById('req').value;
    }
    if( document.getElementById('job') == null ) job = 0;
    else {
      job = document.getElementById('job').value;
    }

    if( val == undefined ) val = 0;

    console.log(rep_id);

    location.href='{% url "rate" %}' + `?val=${val}&feedback=${feed}&rep_id=${rep_id}&req=${req}&job=${job}`;
  });
</script>
