{% extends 'need_a_help_app/base.html' %}
{% load bootstrap %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bell_rep %}
  {% if not_r %}
    {% if not_rep %}
        <span class="badge badge-notify-side-bell-rep">{{ not_rep }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5 text-center'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5 text-center'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_not %}
   {% include "need_a_help_app/mess_not.html" %}
{% endblock %}



{% block count %}
    {% if cnt %}
        <span class="badge badge-notify">{{ cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block active %}
    {% if act_cnt %}
            <span class="badge badge-active">{{ act_cnt }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.profile.role == 'repairman' %}
        <h2><b>Popularity</b></h2>
    {% else %}
        <h2><b>Top Rated</b></h2>
    {% endif %}
    <hr width="100%">

    {% for p in filter.qs %}
        {% if p.user == user %}
            <article class="media content-section bigger d-none d-md-block d-lg-block">
        {% else %}
            <article class="media content-section d-none d-md-block d-lg-block">
        {% endif %}
            <div class="media-body">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="badge badge-popularity">{{ forloop.counter }}.</span>
                        {% if forloop.counter == 1 %}
                            <i class="fas fa-crown gold"></i>
                        {% elif forloop.counter == 2 %}
                            <i class="fas fa-crown silver"></i>
                        {% elif forloop.counter == 3 %}
                            <i class="fas fa-crown bronce"></i>
                        {% endif %}
                        <a href="{% url 'modal_info' p.user.id %}">
                            <img class="rounded-circle account-img" src="{{ p.photo.url }}">
                        </a>
                        <div class="row">
                            <div class="col-sm-12" align="center">
                              <div class="{{ p.user.username }}">
                                <div class="star-outer">
                                  <div class="star-inner"></div>
                                </div>
                                <span class="number-rating text-secondary"></span>
                              </div>
                            </div>
                        </div>
                        <input type="hidden" class="hid" name="name" id="name{{ p.user.username }}" value="{{ p.user.username }}">
                        <input type="hidden" class="hid" name="rate" id="rate{{ p.user.profile.rating }}" value="{{ p.user.profile.rating }}">
                    </div>
                    <div class="col-sm-5 pl-5 pt-4">
                        <h1>{{ p.user.first_name }} {{ p.user.last_name }}</h1>
                        <small class="text-secondary text-muted">Profession: {{ p.profession }}</small><br>
                        <small class="text-secondary text-muted">Cost / <sup>hour</sup>: {{ p.costs }} €</small><br>
                        <small class="text-secondary text-muted">Being hired: {{ p.hired }}</small><br>
                        <small class="text-secondary text-muted">
                            <i class="fas fa-user-check tool1 {% if p.hired >= 5 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Beginner - 5 times hired"></i>
                            <i class="far fa-paper-plane tool1 {% if p.hired >= 25 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Advance - 25 times hired"></i>
                            <i class="fas fa-user-ninja tool1 {% if p.hired >= 100 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Ninja - 100 times hired"></i>
                            <i class="far fa-star tool1 {% if p.hired >= 250 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Pro repairman - 250 times hired"></i>
                            <i class="fas fa-award tool1 {% if p.hired >= 500 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Master repairman - >500 times hired"></i>
                        </small><br>
                    </div>
                    {% if user.profile.role == 'client' %}
                        <div class="col-sm-4 pt-5" align="right">
                            {% if p.user in f_hired %}
                                <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                            {% else %}
                                <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                            {% endif %}
                            <a href="{% url 'info' p.user.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i>&nbsp Detail</a>
                        </div>
                    {% else %}
                        <div class="col-sm-4 pt-5" align="right">
                            {% if p.user == user %}
                                <h3 style="color: #f8ce0b; font-style: italic;">MY RANK</h3>
                            {% endif %}
                            <a href="{% url 'modal_info' p.user.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </article>

        <!-- mali ekran -->

        {% if p.user == user %}
            <article class="media content-section bigger d-block d-md-none d-lg-none">
        {% else %}
            <article class="media content-section d-block d-md-none d-lg-none">
        {% endif %}
            <div class="media-body">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <span class="badge badge-popularity">{{ forloop.counter }}.</span>
                        {% if forloop.counter == 1 %}
                            <i class="fas fa-crown gold"></i>
                        {% elif forloop.counter == 2 %}
                            <i class="fas fa-crown silver"></i>
                        {% elif forloop.counter == 3 %}
                            <i class="fas fa-crown bronce"></i>
                        {% endif %}
                        <a href="{% url 'modal_info' p.user.id %}">
                            <img class="rounded-circle account-img" src="{{ p.photo.url }}">
                        </a>
                        <div class="row">
                            <div class="col-sm-12" align="center">
                              <div class="{{ p.user }}">
                                <div class="star-outer">
                                  <div class="star-inner"></div>
                                </div>
                                <span class="number-rating text-secondary"></span>
                              </div>
                            </div>
                        </div>
                        <input type="hidden" class="hid" name="name" id="name{{ p.user }}" value="{{ p.user }}">
                        <input type="hidden" class="hid" name="rate" id="rate{{ p.user.profile.rating }}" value="{{ p.user.profile.rating }}">
                    </div>
                    <div class="col-sm-5 pt-4 text-center">
                        <h1>{{ p.user.first_name }} {{ p.user.last_name }}</h1>
                        <small class="text-secondary text-muted">Profession: {{ p.profession }}</small><br>
                        <small class="text-secondary text-muted">Cost / <sup>hour</sup>: {{ p.costs }} €</small><br>
                        <small class="text-secondary text-muted">Being hired: {{ p.hired }}</small><br>
                        <small class="text-secondary text-muted">
                            <i class="fas fa-user-check tool1 {% if p.hired >= 5 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Beginner - 5 times hired"></i>
                            <i class="far fa-paper-plane tool1 {% if p.hired >= 25 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Advance - 25 times hired"></i>
                            <i class="fas fa-user-ninja tool1 {% if p.hired >= 100 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Ninja - 100 times hired"></i>
                            <i class="far fa-star tool1 {% if p.hired >= 250 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Pro repairman - 250 times hired"></i>
                            <i class="fas fa-award tool1 {% if p.hired >= 500 %} tool1 {% else %} tool2 {% endif %}" data-toggle="tooltip" data-placement="bottom" title="Master repairman - >500 times hired"></i>
                        </small><br>
                    </div>
                    {% if user.profile.role == 'client' %}
                        <div class="col-sm-4 pt-3 text-center">
                            {% if p.user in f_hired %}
                                <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                            {% else %}
                                <a href="{% url 'hire_repairman' user.id p.user.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                            {% endif %}
                            <a href="{% url 'info' p.user.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i>&nbsp Detail</a>
                        </div>
                    {% else %}
                        <div class="col-sm-4 pt-3" align="right">
                            {% if p.user == user %}
                                <h3 style="color: #f8ce0b; font-style: italic;">MY RANK</h3>
                            {% endif %}
                            <a href="{% url 'modal_info' p.user.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
   </div>
{% include 'need_a_help_app/stars_js.html' %}
{% endblock %}

{% block filters %}
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="content-section d-none d-md-block d-lg-block text-center">
            <form method=" GET">
            {{ filter.form|bootstrap}}
            <button class="badge badge-pag" style="border: none;" type="submit">Submit</button>
        </div>
    </div>
{% endblock %}

