{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block register_login %}

    <main role="main" class="container-fluid cont">
        <div class="d-flex justify-content-center login">
            <div class="user_card">

                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container" style="margin-bottom: 50px; margin-top: 30px">
                        <img src="https://cdn4.iconfinder.com/data/icons/green-shopper/1068/user.png" class="brand_logo avatar" height="100px" width="100px" alt="Logo">
                        <legend class="mb-0 mt-auto pl-3">Log In</legend>
                    </div>
                </div>

                {% if messages and not user.is_authenticated %}
                    {% for mess in messages %}
                      <div class="alert alert-{{ mess.tags }} ">
                          {{ mess }}
                      </div>
                    {% endfor %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="from-group">
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text" style="height: 38px;"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text" style="height: 38px;"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password|as_crispy_field }}
                        </div>
                        <!--{{ form|crispy }}-->
                    </fieldset>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-outline-info" type="submit">Log In</button>
                    </div>
                    <small class="text-muted ml-2 d-flex justify-content-center"><a class="ml-2" href="{% url 'password_reset' %}">Forgot your password?</a></small>
                </form>
                <div class="border-top pt-3 d-flex justify-content-center">
                    <small class="links">Do you need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a></small>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        var el = document.getElementsByClassName('form-control');

        for( var i = 0; i < el.length; i++ ) {
            el[i].autocomplete = 'off';
            if( i == 0 ) el[i].placeholder = 'Enter your username';
            else el[i].placeholder = 'Enter your password';
        }
    </script>
{% endblock %}
