{% extends 'need_a_help_app/base.html' %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block register_login %}

    <div class="container-fluid h-100 cont">
      <div class="row h-100 justify-content-center align-items-center login">
        <div class="text-center">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1">
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password!
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
