{% extends 'need_a_help_app/base.html' %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block content %}


    <div class="alert alert-info">
        Your password has been set successfully.
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>


{% endblock %}

{% block register_login %}

    <div class="container-fluid h-100 cont">
      <div class="row h-100 justify-content-center align-items-center login">
        <div class="text-center">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1">
                    <div class="alert alert-info">
                        Your password has been set successfully.
                    </div>
                    <h4 style="color: #d9d9d9">Sign In Here</h4>
                    <a href="{% url 'login' %}"><i class="fas fa-door-open door-login"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
