{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block register_login %}

    <div class="container-fluid h-100 cont">
      <div class="row h-100 justify-content-center align-items-center login">
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="from-group">
                    <h3 class="mb-4" style="color: #d9d9d9">Reset password</h3>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="badge badge-pag" style="border: none" type="submit">Reset</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        var el = document.getElementsByClassName('form-control');

        for( var i = 0; i < el.length; i++ ) {
            el[i].autocomplete = 'off';
            if( i == 0 ) el[i].placeholder = 'Enter your e-mail';
        }
    </script>
{% endblock %}
