{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Settings</title>
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block content %}
    <div class="content-section mt-3">
        {% if error %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
        {% endif %}

      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading pt-5">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary text-muted">{{ user.email }}</p>
        </div>
      </div>
      <hr width="100%">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="from-group">
          <legend class="border-bottom mb-4">Update profile</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
{% endblock %}
