{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Settings</title>
{% endblock %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r %}
                    <div class='row not_row' {% if not n.seen %}style='cursor: pointer; background: #f2f2f2;'{% else %}style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{% url 'requests_repairman' user.id %}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c %}
                    <div class='row not_row' {% if not n.seen %}style='cursor: pointer; background: #f2f2f2;'{% else %}style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{% url 'main' %}?not_c={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_repairman %}
    {% if mess_rep %}
        <span class="badge badge-notify-mess">{{ mess_rep }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block content %}
    <div class="content-section mt-3">
        {% if error %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
        {% endif %}

      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading pt-5">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary text-muted">{{ user.email }}</p>
        </div>
      </div>
      <hr width="100%">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="from-group">
          <legend class="border-bottom mb-4">Update profile</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
{% endblock %}
