{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block register_login %}

    <main role="main" class="container-fluid cont">
        <div class="d-flex justify-content-center register">
            <div class="user_card">
                {% if messages and not user.is_authenticated %}
                    {% for mess in messages %}
                      <div class="alert alert-{{ mess.tags }} ">
                          {{ mess }}
                      </div>
                    {% endfor %}
                {% endif %}

                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container" style="margin-bottom: 50px; margin-top: 30px">
                        <img src="https://cdn4.iconfinder.com/data/icons/green-shopper/1068/user.png" class="brand_logo avatar" height="100px" width="100px" alt="Logo">
                        <legend class="mb-0 mt-auto pl-1">Join Today</legend>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                        {{ form_p|crispy }}
                    </fieldset>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3 d-flex justify-content-center">
                    <small class="links">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
                </div>
            </div>
        </div>
    </main>


{% include 'need_a_help_app/autocomplete_maps_js.html' %}
{% endblock %}
