{% extends 'need_a_help_app/base.html' %}

{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.photo.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'info' object.user.id %}">{{ object.user }}</a>
              <small class="text-muted">{{ object.date|date:'F d, Y H:i' }}</small>
                {% if object.user == user %}
                    <div>
                        <a href="{% url 'request_update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                        <a href="{% url 'request_delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="fas fa-trash-alt"></i>&nbsp Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.job_title }}</h2>
            <small class="text-muted">Required knowledges: {{ object.required_knowledges }}</small><br>
            <small class="text-muted">Price: {{ object.price }} €</small><br>
            <small class="text-muted">Address: {{ object.address }}</small><br><br>
            <h4>Description:</h4>
            <p class="article-content">{{ object.job_description }}</p>
            {% if object.user == user %}
                <button type="button" class="btn btn-warning mt-1 mb-1" style="margin-left: 250px" data-toggle="modal" data-target="#applications"><i class="fas fa-pencil-alt"></i>&nbsp Applications</button>
            {% else %}
                <button type="button" class="btn btn-warning mt-1 mb-1" style="margin-left: 250px" data-toggle="modal" data-target="#applications"><i class="fas fa-pencil-alt"></i>&nbsp Applications</button>
                <a href="#" class="btn btn-outline-success mt-1 mb-1"><i class="far fa-check-square"></i>&nbsp Apply</a>
            {% endif %}
          </div>
    </article>

    <!-- Modal -->
    <div class="modal fade" id="applications" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Applications</strong></h5>
            <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 class="text-secondary text-muted" align="center">No results</h3>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
