{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
    {% include 'need_a_help_app/mess_client.html' %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}
{% block filters %}{% endblock %}

{% block content %}

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Add request</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>

{% include 'need_a_help_app/autocomplete_maps_js.html' %}
{% endblock %}
