{% extends 'need_a_help_app/base.html' %}
{% load maps_tags %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bell_rep %}
  {% if not_r %}
    {% if not_rep %}
        <span class="badge badge-notify-side-bell-rep">{{ not_rep }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'dM H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_repairman %}
    {% if mess_rep %}
        <span class="badge badge-notify-mess">{{ mess_rep }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block content %}

    <article class="media content-section mt-2">
        <a data-target="#modalIMG" data-toggle="modal" href="#" class="color-gray-darker td-hover-none">
            <img class="rounded-circle account-img" src="{{ object.photo.url }}">
        </a>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'info' object.user.id %}">{{ object.user }}</a>
              <small class="text-muted">{{ object.date|date:'F d, Y H:i' }}</small>
                {% if object.user == user %}
                    <div>
                        <a href="{% url 'request_update' object.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1 upd">Update</a>
                        <a href="{% url 'request_delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1 upd"><i class="fas fa-trash-alt"></i>&nbsp Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.job_title }}</h2>
            <small class="text-muted">Required knowledges: {{ object.required_knowledges }}</small><br>
            <small class="text-muted">Price: {{ object.price }} €</small><br>
            <div class="row">
                <div class="col-sm-6">
                    <small class="text-muted">Address: {{ object.address }}</small><br><br>
                </div>
                <div class="col-sm-4">
                    {% if user.profile.role != 'client' %}
                      <small class="text-muted"><i class="fas fa-map-marker-alt" style="color: red"></i> {{ dist }}</small><br>
                    {% endif %}
                </div>
            </div>
            <h4>Description:</h4>
            <p class="article-content">{{ object.job_description }}</p>
            {% if vis %}
              {% if object.user == user %}
                  <button type="button" class="btn btn-warning mt-1 mb-1" style="margin-left: 250px" data-toggle="modal" data-target="#applications"><i class="fas fa-pencil-alt"></i>&nbsp Applications ( {{ cnt }} )</button>
              {% else %}
                  <button type="button" class="btn btn-warning mt-1 mb-1" style="margin-left: 250px" data-toggle="modal" data-target="#applications"><i class="fas fa-pencil-alt"></i>&nbsp Applications ( {{ cnt }} )</button>
                  <a href="{% url 'repairman_apply' user.id object.id %}" class="btn btn-outline-success mt-1 mb-1"><i class="far fa-check-square"></i>&nbsp Apply</a>
              {% endif %}
            {% endif %}
          </div>
    </article>

    <!-- Modal -->
    <div class="modal fade" id="applications" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Applications</strong></h5>
            <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if app %}
              {% for a in app %}
                <div class="row">
                  <div class="col-sm-3">
                      <a href="{% url 'modal_info' a.repairman.id %}">
                          <img class="rounded-circle app-img" src="{{ a.repairman.profile.photo.url }}">
                      </a>
                      <div class="row">
                        <div class="col-sm-12" align="center">
                          <div class="{{ a.repairman }}">
                            <div class="star-outer">
                              <div class="star-inner"></div>
                            </div>
                            <span class="number-rating text-secondary"></span>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" class="hid" name="name" id="name{{ a.repairman }}" value="{{ a.repairman }}">
                      <input type="hidden" class="hid" name="rate" id="rate{{ a.repairman.profile.rating }}" value="{{ a.repairman.profile.rating }}">
                  </div>
                  <div class="col-sm-5 pl-5">
                      <h5>{{ a.repairman.first_name }} {{ a.repairman.last_name }}</h5>
                      <small class="text-secondary text-muted">Profession: {{ a.repairman.profile.profession }}</small><br>
                      <small class="text-secondary text-muted">Cost: {{ a.repairman.profile.costs }} €</small><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <small class="text-muted">Address: {{ a.repairman.profile.address }}</small><br><br>
                          </div>
                          <div class="col-sm-4">
                              {% if user.profile.role != 'repairman' %}
                                {% resolve dist2 a.repairman.id as value %}
                                <small class="text-muted"><i class="fas fa-map-marker-alt" style="color: red"></i> {{ value }}</small><br>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 pt-4" align="right">
                      <!--{% if rep in f_hired %}
                          <a href="hire" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                      {% else %}
                          <a href="hire" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                      {% endif %}-->
                      {% if user.profile.role == 'client' %}
                        <a href="{% url 'posted_job_hire' a.repairman.id object.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i>&nbsp Hire</a>
                        <a href="{% url 'modal_info' a.repairman.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                      {% else %}
                        {% if a.repairman != user %}
                          <a href="{% url 'modal_info' a.repairman.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                        {% endif %}
                      {% endif %}
                  </div>
                </div>
                <hr width="100%">
              {% endfor %}
            {% else %}
              <h3 class="text-secondary text-muted" align="center">No results</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Modal profile photo -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body mb-0 p-0">
            <img class="img-responsive" src="{{ object.photo.url }}" style="width:100%">
          </div>
          <div class="modal-footer" style="background-color: rgba(0, 0, 0, 0.1); justify-content: flex-start;">
            <div class="row">
              <div class="col-md-12">
                <h4>Description:</h4><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="article-content">{{ object.job_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% include 'need_a_help_app/stars_js.html' %}
{% endblock %}
