{% extends 'need_a_help_app/base.html' %}

{% block notify_client %}
    {% if not_cli %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c %}
                    <div class='row not_row'>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <small class='text-secondary text-muted'>{{ n.notification }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        <span class="badge badge-notify-bell">{{ not_cli }}</span>
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
   <div class="row">
    <div class="col-sm-8">
        <h2>My requests</h2>
    </div>
    <div class="col-sm-4" align="right">
        <a class="btn btn-info" href="{% url 'add_request' %}"><i class="fas fa-plus-circle"></i>&nbsp Add request</a>
    </div>
   </div>
   <hr width="100%">
   {% if req %}
       {% for i in req %}
            {% if i.visible %}
                <div class="row">
                    <div class="col-sm-3">
                        <a href="{% url 'request_detail' i.id %}">
                            <img class="rounded-circle account-img" src="{{ i.photo.url }}">
                        </a>
                    </div>
                    <div class="col-sm-7 pl-5">
                        <h1>{{ i.job_title }}</h1>
                        <small class="text-secondary text-muted">Required knowladges: {{ i.required_knowledges }}</small><br>
                        <small class="text-secondary text-muted">Price: {{ i.price }} €</small><br>
                        <small class="text-secondary text-muted">Address: {{ i.address }}</small><br>
                    </div>
                    <div class="col-sm-2" align="right">
                        <a href="{% url 'request_delete' i.id %}" class="btn btn-danger btn-sm mt-5 mb-1"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <hr width="100%">
            {% endif %}
       {% endfor %}
   {% else %}
    <h3 class="text-secondary text-muted" align="center">No results</h3>
   {% endif %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a class="btn btn-info mb-4" href="?page={{ i }}">{{ i }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}

