{% extends request.is_ajax|yesno:"fancybox/base.html,need_a_help_app/base.html" %}
{% load maps_tags %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bell_rep %}
  {% if not_r %}
    {% if not_rep %}
        <span class="badge badge-notify-side-bell-rep">{{ not_rep }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_repairman %}
    {% if not_r %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_r|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not={{ n.id }}&quot;;'>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_repairman' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_rep %}
            <span class="badge badge-notify-bell">{{ not_rep }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_repairman %}
    {% if mess_rep %}
        <span class="badge badge-notify-mess">{{ mess_rep }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block mess_client %}
    {% include 'need_a_help_app/mess_client.html' %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}
{% block filters %}{% endblock %}

{% block register_login %}

<div class="profile-page">

    <div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                       <div class="profile">
                            <div class="row text-left">
                              <div class="col-xs-3 col-sm-3 col-md-2" style="padding-top: 100px">
                                <a href="{{ object.user.profile.photo.url }}" data-fancybox>
                                    <img alt="Circle Image" class="account-img rounded-circle" src="{{ object.user.profile.photo.url }}">
                                </a>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 pt-3 text-left">
                              <h2 class="account-heading">{{ object.job_title }}</h2>
                              <div class="row text-left">
                                <div class="col-xs-3 col-sm-3 col-md-3 pt-2 pr-0">
                                  <h6>Posted by: </h6>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-5 pl-0 pt-1">
                                  <a class="mr-2" href="{% url 'info' object.user.id %}">{{ object.user }}</a>
                                </div>
                              </div>
                              <div class="row text-left">
                                <div class="col-xs-3 col-sm-3 col-md-3 pt-2 pr-0">
                                  <h6>Date posted:</h6>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-6 pl-0 pr-0 pt-2">
                                  <p>{{ object.date|date:'F d, Y H:i' }}</p>
                                </div>
                              </div>
                            </div>
                            </div>
                            <div class="name text-left pl-3 pt-2">
                              {% if vis %}
                                {% if object.user == user %}
                                    <a class="btn btn-just-icon btn-link" href="#" data-toggle="modal" data-target="#applications"><i class="fas fa-bullhorn apps"></i></a>
                                    <a href="{% url 'request_update' object.id %}" class="btn btn-just-icon btn-link"><i class="far fa-edit upd-req"></i></a>
                                    <a href="{% url 'request_delete' object.id %}" class="btn btn-just-icon btn-link"><i class="fas fa-trash-alt del-req"></i></a>
                                {% else %}
                                    <a class="btn btn-just-icon btn-link" href="#" data-toggle="modal" data-target="#applications"><i class="fas fa-bullhorn apps"></i></a>
                                    <a class="btn btn-just-icon btn-link"  href="{% url 'repairman_apply' user.id object.id %}"><i class="far fa-check-square app-req"></i></a>
                                {% endif %}
                                {% if cnt and user.profile.role == 'client' %}
                                  <span class="badge badge-apps-cli">{{ cnt }}</span>
                                {% elif cnt and user.profile.role == 'repairman' %}
                                  <span class="badge badge-apps-rep">{{ cnt }}</span>
                                {% endif %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    {% block notify %}
                        {% if messages and user.is_authenticated %}
                            {% for mess in messages %}
                                <div class="alert alert-{{ mess.tags }} mb-4 mt-1">
                                    {{ mess }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    <h4>Description:</h4>
                    <div class="container-fluid">
                      <div class="row flex-nowrap">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="word-break: break-all;"><p>{{ object.job_description }}</p></div>
                      </div>
                    </div>
                    <h4 class="pt-4">Location:</h4>
                    <h2>{{ object.address }}</h2>
                    {% if user.profile.role != 'client' %}
                        <h5><i class="fas fa-map-marker-alt" style="color: red"></i> {{ dist }}</h5>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                  <i class="fas fa-search"></i>
                                  Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                  <i class="far fa-images"></i>
                                    Photos
                                </a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="studio">
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-12 col-md-12 ml-auto">
                              <h4><b>Required knowledges: </b></h4>
                              <div class="container-fluid">
                                <div class="row flex-nowrap">
                                  <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="word-break: break-all;"><p>{{ object.required_knowledges }}</p></div>
                                </div>
                              </div>
                              <h4><b>Price: </b></h4>
                              <h1 class="btn rounded-circle" style="cursor: default;font-style: italic;background-color: #009933; color: white">{{ object.price }} €</h1><br>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="works">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 ml-auto">
                                {% for img in images|slice:'3' %}
                                  <a href="{{ img.photo.url }}" data-fancybox>
                                    <img src="{{ img.photo.url }}" class="rounded">
                                  </a>
                                {% endfor %}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 mr-auto">
                                {% for img in images|slice:'3:' %}
                                  <a href="{{ img.photo.url }}" data-fancybox>
                                    <img src="{{ img.photo.url }}" class="rounded">
                                  </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="applications" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Applications</strong></h5>
            <button type="button" class="close" style="color: red" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if app %}
              {% for a in app %}
                <div class="row">
                  <div class="col-sm-3">
                      <a href="{% url 'modal_info' a.repairman.id %}">
                          <img class="rounded-circle app-img" src="{{ a.repairman.profile.photo.url }}">
                      </a>
                      <div class="row">
                        <div class="col-sm-12" align="center">
                          <div class="{{ a.repairman }}">
                            <div class="star-outer">
                              <div class="star-inner"></div>
                            </div>
                            <span class="number-rating text-secondary"></span>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" class="hid" name="name" id="name{{ a.repairman }}" value="{{ a.repairman }}">
                      <input type="hidden" class="hid" name="rate" id="rate{{ a.repairman.profile.rating }}" value="{{ a.repairman.profile.rating }}">
                  </div>
                  <div class="col-sm-5 pl-5">
                      <h5>{{ a.repairman.first_name }} {{ a.repairman.last_name }}</h5>
                      <small class="text-secondary text-muted">Profession: {{ a.repairman.profile.profession }}</small><br>
                      <small class="text-secondary text-muted">Cost: {{ a.repairman.profile.costs }} €</small><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <small class="text-muted">Address: {{ a.repairman.profile.address }}</small><br><br>
                          </div>
                          <div class="col-sm-4">
                              {% if user.profile.role != 'repairman' %}
                                {% resolve dist2 a.repairman.id as value %}
                                <small class="text-muted"><i class="fas fa-map-marker-alt" style="color: red"></i> {{ value }}</small><br>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 pt-4" align="right">
                      <!--{% if rep in f_hired %}
                          <a href="hire" class="btn btn-outline-success btn-sm mt-1 mb-1 disabled"><i class="fas fa-handshake"></i></a>
                      {% else %}
                          <a href="hire" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i></a>
                      {% endif %}-->
                      {% if user.profile.role == 'client' %}
                        <a href="{% url 'posted_job_hire' a.repairman.id object.id %}" class="btn btn-outline-success btn-sm mt-1 mb-1"><i class="fas fa-handshake"></i>&nbsp Hire</a>
                        <a href="{% url 'modal_info' a.repairman.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                      {% else %}
                        {% if a.repairman != user %}
                          <a href="{% url 'modal_info' a.repairman.id %}" class="btn btn-outline-info btn-sm mt-1 mb-1"><i class="fas fa-info-circle"></i></a>
                        {% endif %}
                      {% endif %}
                  </div>
                </div>
                <hr width="100%">
              {% endfor %}
            {% else %}
              <h3 class="text-secondary text-muted" align="center">No results</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  window.addEventListener('load', () => {
    var imgs = ["url('https://gwaliahire.co.uk/wp-content/uploads/2017/05/engine-wallpaper-5.jpg')", "url('http://elrayes-tools.com/wp-content/uploads/2017/09/Banner-Handttools.jpg')", "url('https://higherlogicdownload.s3.amazonaws.com/NSACCT/7e1b22bb-4736-47f7-a45d-41ce8d27e073/UploadedImages/bigstock-set-of-tools-in-tool-box-on-a--51238249.jpg')", "url('http://ferreteralibertad.com.mx/wp-content/uploads/Tools-Twitter-Bkgd.jpg')", "url('http://www.libertyseguros.es/opencms/export/pics/liberty-imagenes/frontcontent/1500/09_Riesgo_de_contruccion_y_montaje_OK.jpg')"]
    var img = imgs[Math.floor(Math.random()*imgs.length)];
    console.log(img);
    document.querySelector('.page-header').style.backgroundImage = img;
    console.log(document.querySelector('.page-header').backgroundImage);
  });
</script>

{% include 'need_a_help_app/stars_js.html' %}
{% endblock %}
