{% extends 'need_a_help_app/base.html' %}

{% block notify_client %}
    {% if not_cli %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c %}
                    <div class='row not_row'>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <small class='text-secondary text-muted'>{{ n.notification }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        <span class="badge badge-notify-bell">{{ not_cli }}</span>
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
        <span class="badge badge-notify-mess">55</span>
    {% if mess_cli %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Delete Request</legend>
                <h2>Are you sure you want to delete post "{{ object.job_title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Confirm</button>
                <a href="{% url 'request_detail' object.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>


{% endblock %}
