{% extends 'need_a_help_app/base.html' %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_client %}
    {% include 'need_a_help_app/mess_client.html' %}
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
   <div class="row">
    <div class="col-9">
        <h2>My requests</h2>
    </div>
    <div class="col-3 pl-2" align="right">
        <a class="btn btn-info d-none d-md-block d-lg-block" href="{% url 'add_request' %}"><i class="fas fa-plus-circle"></i>&nbsp Add request</a>
        <a class="btn btn-md rounded-circle icons-req d-block d-md-none d-lg-none" href="{% url 'add_request' %}"><i class="fas fa-plus-circle req"></i></a>
    </div>
   </div>
   <hr width="100%">
   {% if req %}
       {% for i in req %}
            {% if i.visible %}
                <article class="media content-section d-none d-md-block d-lg-block">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="{% url 'request_detail' i.id %}">
                                    <img class="rounded-circle account-img" src="{{ i.photo.url }}">
                                </a>
                            </div>
                            <div class="col-sm-7 pl-5 text-truncate">
                                <h1>{{ i.job_title }}</h1>
                                <small class="text-secondary text-muted">Required knowladges: {{ i.required_knowledges }}</small><br>
                                <small class="text-secondary text-muted">Price: {{ i.price }} €</small><br>
                                <small class="text-secondary text-muted">Address: {{ i.address }}</small><br>
                            </div>
                            <div class="col-sm-2" align="right">
                                <a href="{% url 'request_delete' i.id %}" class="btn btn-danger btn-sm mt-5 mb-1"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- mali ekran -->
                <article class="media content-section d-block d-md-none d-lg-none text-center">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="{% url 'request_detail' i.id %}">
                                    <img class="rounded-circle account-img" src="{{ i.photo.url }}">
                                </a>
                            </div>
                            <div class="col-sm-7 text-center">
                                <h1>{{ i.job_title }}</h1>
                                <small class="text-secondary text-muted">Required knowladges: {{ i.required_knowledges }}</small><br>
                                <small class="text-secondary text-muted">Price: {{ i.price }} €</small><br>
                                <small class="text-secondary text-muted">Address: {{ i.address }}</small><br>
                            </div>
                            <div class="col-sm-2">
                                <a href="{% url 'request_delete' i.id %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}
       {% endfor %}
   {% else %}
    <h3 class="text-secondary text-muted pb-5" align="center">No results</h3>
   {% endif %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-items-center justify-content" style="margin: auto">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a href="?page=1"><span class="badge badge-pag"><i class="fas fa-angle-double-left"></i></span></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-left"></i></span></a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}"><span class="badge badge-pag">{{ i }}</span></a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="badge badge-pag"><i class="fas fa-angle-right"></i></span></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><span class="badge badge-pag"><i class="fas fa-angle-double-right"></i></span></a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
   </div>
{% endblock %}

