{% extends 'need_a_help_app/base.html' %}
{% load crispy_forms_tags %}

{% block bell_cli %}
  {% if not_c %}
    {% if not_cli %}
        <span class="badge badge-notify-side-bell">{{ not_cli }}</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block notify_client %}
    {% if not_c %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <div class='container'>
                {% for n in not_c|slice:'5' %}
                    <div {% if not n.seen %}class='row not_seen'{% else %}class='row not_row' style='cursor: pointer;'{% endif %} onclick='location.href=&quot;{{ n.url_to_go }}?not_c={{ n.id }}&quot;;' {% if not n.seen %}style='background: #f2f2f2;'{% endif %}>
                        {{ n.notification }}
                        <div class='col-sm-3 col-md-3 col-lg-3'>
                            <small class='text-secondary text-muted'>{{ n.date|date:'d M H:i' }}</small>
                        </div>
                    </div>
                    <hr width=100%>
                {% endfor %}
                <div class='row'>
                    <div class='col-sm-12 col-md-12 col-lg-12 pl-5'>
                        <a href='{% url 'notifications_client' user.id %}'>Show all notifications</a>
                    </div>
                </div>
            </div>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="click"></i>
        {% if not_cli %}
            <span class="badge badge-notify-bell">{{ not_cli }}</span>
        {% endif %}
    {% else %}
        <i class="nav-item nav-link fas fa-bell mt-1 popOver" data-title="Notifications" data-content="
            <h6 class='text-secondary text-muted' align='center'>No results</h6>" data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" data-trigger="hover"></i>
    {% endif %}
{% endblock %}

{% block mess_not %}
   {% include "need_a_help_app/mess_not.html" %}
{% endblock %}

{% block app_client %}{% endblock %}
{% block app_repairman %}{% endblock %}
{% block filters %}{% endblock %}

{% block register_login %}

    <div class="container-fluid cont">
      <div class="row justify-content-center align-items-center" style="margin-left: 275px; margin-right: 275px;background: linear-gradient(to bottom, rgba(110, 110, 110, 0.8) 0%, rgba(0,0,0,0.6) 100%);">
            <form method="POST" class="mt-5" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="from-group">
                    <legend class="border-bottom mb-4 text-center"><h4 style="color: black;"><i class="fas fa-plus-circle"></i>&nbsp;Add request</h4></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="badge badge-pag" style="border: none;" type="submit">Save</button>
                </div>
            </form>
      </div>
    </div>

    <script type="text/javascript">
        var els = document.getElementsByClassName('col-form-label');

        for (var i = 0; i < els.length; i++) {
            els[i].style.display = 'block';
            els[i].style.color = '#d9d9d9';
        }

        document.getElementById('photo').multiple = 'true';
    </script>

{% include 'need_a_help_app/autocomplete_maps_js.html' %}
{% endblock %}
